<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1>Product Mart</h1>
        <span class="menu-spacer"></span>
        <div class="example-button-row"></div>
        <span class="example-spacer"></span>
        <button mat-button mat-raised-button [routerLink]="'/login'" routerLinkActive="active-link">
            Login
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav style="width: 200px;">
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/home'" routerLinkActive="active-link"> Home </a>
            <a mat-list-item [routerLink]="'/products'" routerLinkActive="active-link"> Product </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>